main {
  gap: 32px;
}

main .filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 100%;
  justify-content: flex-start;
}

main .dropdown {
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 152px;
  z-index: 10;
}

.dropdown label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 8px;
  border: 2px solid #184404;
  cursor: pointer;
}

.dropdown label input {
  padding: 0 !important;
  background: none !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 16.94px;
  text-align: left;
  cursor: pointer;
}

.dropdown label img {
  width: 24px;
  height: 24px;
  object-fit: none;
}

@keyframes pop {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0);
  }
}

.dropdown label:hover > img {
  animation: pop 0.6s ease-in-out;
}

.dropdown label > input.active ~ img {
  animation: none;
  transform: rotate(180deg);
}

.dropdown > .items {
  display: none;
  flex-direction: column;
  max-height: 160px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
}

.dropdown > .items > span {
  padding: 8px;
  height: 100%;
  background: white;
  cursor: pointer;
  font-family: "Inter-Regular";
  font-size: 14px;
  line-height: 16.94px;
  text-align: left;
  color: black;
  border: 2px solid #184404;
  border-top: 0;
}

.dropdown > .items > span:hover {
  background: rgba(0, 0, 0, 0.1);
}

.modal-box {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: max-content;
  max-width: 500px;
  max-height: 782px;
  padding: 40px 32px;
  gap: 32px;
  border-radius: 8px;
  background: white;
  position: relative;
  overflow-y: auto;
}

.modal::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-thumb,
.modal textarea.field::-webkit-scrollbar-track,
.modal textarea.field::-webkit-scrollbar-thumb,
.modal .dropdown > .items::-webkit-scrollbar-track,
.modal .dropdown > .items::-webkit-scrollbar-thumb {
  border-radius: 0 8px 8px 0;
}

.orders {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}

.order {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  justify-content: space-between;
  border: 2px solid #184404;
  border-radius: 16px;
  padding: 8px;
  width: 504px;
  height: 182px;
  position: relative;
}

.order > label {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 8px;
  cursor: pointer;
}

.order > label.edit {
  top: 8px;
  background: url(/assets/img/pencil.svg) center no-repeat;
}

.order > label.delete {
  bottom: 8px;
  background: url(/assets/img/trash.svg) center no-repeat;
}

.order h2 {
  font-family: "Inter-Regular";
  font-size: 18px;
  line-height: 21.78px;
  text-align: left;
  max-width: calc(100% - 32px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-shrink: 0;
}

.order ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  height: 100%;
  max-height: 96px;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.order li,
.order p {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: inside;
  list-style-type: decimal;
  font-family: "Inter-Regular";
  font-size: 14px;
  text-align: left;
  gap: 4px;
}

.order li {
  padding: 4px;
  justify-content: space-between;
  width: -webkit-fill-available;
}

.order li input[type="number"] {
  text-align: center;
  width: max-content;
  max-width: 32px;
  background: transparent;
  border: 2px solid #184404;
}

.order li input[type="number"]:read-only {
  border: 2px solid rgba(0, 0, 0, 0.1);
  cursor: unset;
}

.order li input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.order .delete-order {
  display: none;
  width: 12px;
  height: 12px;
  background: url(/assets/img/trash.svg) center no-repeat;
  background-size: 12px;
  cursor: pointer;
}

.order.d .delete-order {
  display: flex;
}

.order.d li:hover {
  background: rgba(0, 0, 0, 0.1);
}
